.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
docs
lib
tasks.todo.md
doc
Meta
monitor.rb
.nvimrc
Rplots.pdf
empty.vim
vignettes/R.sh
vignettes/RR
vignettes/Rouder.Rmd
vignettes/make_vignette
vignettes/render.sh
vignettes/advanced.___
scratch.R
temp.png
